html {
  font-style: 62.5%; }

body {
  font-family: "Oxygen", "Helvetica Neue",Helvetica,Arial,sans-serif; }

.concert-img-col {
  padding: 0;
  border-right: 1px solid white; }

p.normal {
  font-size: 24px; }

.navbar {
  min-height: 36px;
  margin-bottom: 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 100;
  border: none;
  font-weight: bold; }
  .navbar .navbar-header {
    padding: 30px 15px; }
    .navbar .navbar-header .navbar-brand {
      color: #fff;
      font-size: 3.6rem; }
  .navbar.filled {
    background-color: #FFD34E;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    -webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.3); }

.btn-primary {
  background-color: transparent;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  line-height: 60px;
  font-style: 2.4rem;
  padding: 0 20px;
  border-width: 3px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in; }

/** Phone **/
@media (max-width: 767px) {
  .header-overlay-txt {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 36px;
    color: white; } }
@media (min-width: 768px) {
  .header-overlay-txt {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 2%;
    text-align: left;
    font-size: 36px;
    color: white; } }
.concert-overlay-txt {
  position: absolute;
  width: 100%;
  top: 20%;
  text-align: center;
  font-size: 24px;
  color: white; }

img.header {
  height: 100%; }

.header-content {
  min-height: 350px; }

.dark-red {
  color: #ad3221;
  border-color: #ad3221; }
  .dark-red:hover {
    background-color: #ad3221;
    color: #FFF;
    border-color: #ad3221; }

.box {
  outline: 1px solid #979797;
  position: relative;
  top: 140px;
  width: 40%;
  margin: 0 auto;
  float: none;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.33);
  padding-bottom: 5px; }
  .box .btn-primary {
    border: 3px solid #428BCA;
    background-color: #fff;
    color: #428BCA;
    min-width: 200px;
    margin-bottom: 5px; }
    .box .btn-primary:hover {
      background-color: #428BCA;
      color: #fff; }

.box-header {
  background-color: #114950;
  color: white; }

.box-title {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  position: relative;
  width: 100%; }
  .box-title span {
    font-size: 50%;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 10px; }

ol {
  padding-left: 0;
  margin-left: 0; }

ol > li {
  list-style-type: none; }

ol > li input[type=radio] {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px 0 15px; }

ol > li label {
  font-weight: normal;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  padding: 20px 0;
  font-size: 2.4rem; }

.first-staff {
  border-top: 1px solid grey; }

.staff-item {
  border-bottom: 1px solid grey;
  padding: 15px; }
