<div class="row">
  <div class="col-sm-12">
    ..
  </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 box">
    <div class="row box-header">
      <div class="col-xs-12">
        <p class="normal box-title">Your code of conduct <span style="font-size:18px;font-style:italic;">take a look, edit, then publish</span></p>
      </div>
    </div>
    <div class="row" style="padding-top:5%">
      <div class="col-sm-12">
        <div text-angular ng-model="cocHTML"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="text-align: center">
        <button type="button"
          class="btn btn-primary btn-lg"
          ng-click="save()">Save and Publish</button>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
