<div class="row">
  <div class="col-sm-12">
    ..
  </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 box">
    <div class="row box-header">
      <div class="col-xs-12">
        <p class="normal box-title">Answer questions about your event <span>{{curQuestion + 1}} of {{questions.length}}</span></p>
      </div>
    </div>
    <div class="row" style="padding-top:5%">
      <div class="col-sm-12">
        <p class="normal">{{questions[curQuestion].text}}</p>
        <input ng-show="questions[curQuestion].type === 'text'" type="text" ng-model="inputVal" />
        <div ng-show="questions[curQuestion].type === 'bool'">
          <input type="radio" name="radin" id="i{{evt.id}}" value="true" ng-model="inputVal"> Yes
          <br>
          <input type="radio" name="radin" id="i{{evt.id}}" value="false" ng-model="inputVal"> No
        </div>
        <input ng-show="questions[curQuestion].type === 'number'" type="number" ng-model="inputVal"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="text-align: center">
        <button type="button"
          class="btn btn-primary btn-lg"
          ng-click="onNext()"
          ng-disabled="!inputVal">Next</button>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
