<div class="jumbotron">
  <h2>Welcome to Phoenix!</h2>
  <p class="lead">Phoenix is an Elixir Web Framework targeting full-featured, fault tolerant applications with realtime functionality.</p>
</div>

<p>
  You are: <%= @name%>. You have these emails <%= @emails %>:
  <ul>
  <%= for email <- @emails do %>
    <li><%= @email %></li>
  <% end %>
  </ul>
</p>

